<% provide(:title, "Makkelijker betalen") %>

<%= raw static_text("home") %>

<a id="contact" name="contact"></a>

<script type="text/javascript"t>
	$(document).ready(function () {
		function scrollToAnchor(aid) {
			var aTag = $("a[name='" + aid + "']");
			$('html,body').animate({scrollTop: aTag.offset().top}, 'slow');
		}

		$("a").click(function () {
			var href = $(this).attr('href').replace('#', '')
			scrollToAnchor(href);
		});
	});
</script>
