<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome op App%= @user.name %></h1>
    <p>
      Je hebt een account aangemaakt opMantleApp   Appt inloggen met: <%= @user.email %>
      en het wachtwoord wat je gekozen hebt.<br/>
    </p>
    <p>
    	Om in te loggen, klik op deze link: <%= @url %>.
    </p>
    <p>Bedankt voor het registreren</p>
    <p>HeMantleAPIed Team</p>
  </body>
</html>